<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>724312618163-9jcikfo2ru7phqdlktj5qc0kon5hdjnl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.724312618163-9jcikfo2ru7phqdlktj5qc0kon5hdjnl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>724312618163-tilk1o5pptm70vkmk4nf6n2thv0dg7ns.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDsubgZoCwep7yULBIQzhBtljGW4KmB8_4</string>
	<key>GCM_SENDER_ID</key>
	<string>724312618163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mj.classydrives</string>
	<key>PROJECT_ID</key>
	<string>classydrives</string>
	<key>STORAGE_BUCKET</key>
	<string>classydrives.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:724312618163:ios:67a699128301333bcb6cc6</string>
	<key>DATABASE_URL</key>
	<string>https://classydrives.firebaseio.com</string>
</dict>
</plist>